body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;

}
.fstb {
    width: 100%;
    height: 470px;
    position: relative;
    background: linear-gradient(#eb5757, #d59152);
    color: white;
    margin-top: -18px;
}
.container ul{
    border: 0px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.arinka {
    margin-right: auto;
    margin-top:15px;
}
.logo {
    margin-top: 19px;
}
.hi {
    margin-left: 15px
}
.login{
    margin-left: auto;
}
ul li  {
    list-style-type: none;
    margin-right: 10px;
    margin-top: 28px;
}
a {
    text-decoration: none;
    color: white;
}
.container2 {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    flex-wrap: nowrap;
}
.imagecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.imagecontainer > div > img {
    margin-left: 40px;
    border-radius: 10px;
}
.normal {
    margin-top: 15px;
}

.thdb {
    width: 100%;
    height: 460px;
    background: linear-gradient(#eb5757, #d59152);
    margin-top: 80px;
    color:white;
}
.aisha{
    margin-left: 180px;
    color:white;
    margin-top: 200px;

}
.clip-css {
    clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 10% 100%);
    margin-right: -40px;

  }
  .clip-block {
      position: relative;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.term {
    margin-left: auto;
}